@{
    ViewData["Title"] = "Payment Successful";
}

<div class="container justify-content-md-center">
    <div class="row justify-content-center">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="/icons/SuccessfulIcon.png" alt="SuccessfulIcon" />
            <h1 class="card-text">
                Payment successful, THANK!
            </h1>
        </div>
    </div>
</div>
